{% extends 'master.html' %}
{% block titulo%} <h2 class="text-center">Modificar Huesped</h2>{% endblock %}
{% block contenido %}

<div class="container fs-6 d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <form action="/mostrarHuesped/actualizar/{{ persona.dni }}" method="post"> 
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Actualizar" class="btn btn-primary btn-sm">
            </form>
        </div>

        <h2 style="color:green">{{msg_exito}}</h2>
    </div>
</div>

{% endblock %}

