{% extends 'master.html' %}
{% block titulo%} <h2 class="text-center">Registo nuevo ingreso</h2> {% endblock %}
{% block contenido %}

<style>
  label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  }

  input {
  width: 300px; 
  }

</style>

<div class="container fs-6 d-flex justify-content-center" >
  <div class="card">
      <div class="card-body">
        <form action="/mostrarHuesped/alta" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Guardar Nuevo Ingreso" class="btn btn-primary btn-sm">
        </form>
      
        <h2 style="color:green">{{msg_exito}}</h2>
      </div>
  </div>
</div>

{% endblock %}