{% extends 'master.html' %}
{% block titulo%} <h2 class="text-center">Buscar Huésped por nombre</h2>{% endblock %}
{% block contenido %}


<div class="container fs-6 d-flex justify-content-center p-5">
  <div class="card">
      <div class="card-body">

        <form action="/mostrarHuesped/buscar" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Buscar" class="btn btn-primary btn-sm">
        </form>
      </div>
  </div>
</div>

        <table class="table table-sm fs-6 table table-striped" >
          <thead>
            <tr>
              <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Entrada</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Dirección</th>
                <th>N° Habitación</th>
                <!--<th>Habitación Disponible</th>-->
                <th>Fecha de Salida</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for persona in lista_persona %}
            <tr>
              <td>{{ persona.dni }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fecha_entrada }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.habitacion_nro }}</td>
                <!--<td>{{ persona.habitacion_disponible }}</td>-->
                <td>{{ persona.fecha_salida }}</td>
                <td>
                    <a href='actualizar/{{ persona.dni }}' class="btn btn-primary btn-sm">Actualizar</a>
                    <a href='borrar/{{ persona.dni }}' class="btn btn-primary btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>


{% endblock %}