{% extends 'master.html' %}

{% block contenido %}

    <table class="table table-sm fs-6 table table-striped"  >
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Entrada</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Dirección</th>
                <th>N° Habitación</th>
                <!--<th>Habitación Disponible</th>-->
                <th>Fecha de Salida</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for persona in lista_huesped %}
            <tr>
                <td>{{ persona.dni }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fecha_entrada }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.habitacion_nro }}</td>
                <!--<td>{{ persona.habitacion_disponible }}</td>-->
                <td>{{ persona.fecha_salida }}</td>
                <td>
                    <a href='actualizar/{{ persona.dni }}' class="btn btn-primary btn-sm">Actualizar</a>
                    <a href='borrar/{{ persona.dni }}' class="btn btn-primary btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block titulo %}
<h2 class="text-center">Lista de Huéspedes</h2>
{% endblock %}
